# /node_modules/* and /bower_components/* ignored by default

# Ignore all except the app folder
./*
!app/*
public/js/*
public/css/common.scss
public/css/common.css
public/emoji/lib/js/*
public/emoji/js/**/*.*
public/emoji/lib/*.coffee
public/emoji/lib/js/emoji-picker.coffee
public/emoji/lib/js/jquery.emojiarea.js
public/emoji/lib/js/util.js
public/emoji/lib/js/emoji-picker.js
public/emoji/lib/js/emoji-picker.js.map
public/emoji/lib/js/emoji-init.js
public/emoji/lib/js/config.js
public/emoji/css/*.*
public/emoji/css/cover.css
public/emoji/css/cover.css.map
public/emoji/css/cover.scss
public/emoji/css/bootstrap.min.css
public/emoji/css/cover.scss
public/emoji/css/cover.css
public/emoji/lib/js/nanoscroller.min.js
public/emoji/lib/js/tether.min.js
public/emoji/lib/js/config.js
