<div class="chat-wrapper">
    <div class="panel">
        <i class="fa fa-2x fa-comments-o" size="30" aria-hidden="true"></i>
        <span ng-show="chat.unreadMessageCount === 0" class="text-center">Kissa Chat</span>
        <span ng-hide="chat.unreadMessageCount === 0" class="text-center">
            <span class="badge badge-danger">{{chat.unreadMessageCount}}</span>&nbsp;New&nbsp;Message</span>
        <i class="fa fa-2x minimize {{chat.isHidden ? 'fa-chevron-down' : 'fa-chevron-up'}}" ng-click="chat.toggle()" aria-hidden="true">
</i>
    </div>
    <div ng-show="chat.isHidden" id="chatbox">
        <span ng-repeat="message in chat.messageArray">

         <span class="list-group">
        <div class="list-group-item">
            <div class="pull-left hidden-xs">
                <div style="width:30px;height:60px;">
<img ng-src="{{message.avatar}}" class="avatar-image">
</div>
</div>

<div>
    <small class="list-group-item-heading text-muted text-primary">{{message.senderName}}<small class="text-muted">&nbsp;{{message.time}}</small></small>
    <p class="list-group-item-text">
        {{message.textContent}}
    </p>
</div>
</div>
</span>
</div>
<div ng-show="chat.isHidden" class="chatinput">
    <div class="inner-addon right-addon">
        <span class="lead emoji-picker-container">
        <input name="usermsg" type="text" id="usermsg" class="form-control" placeholder="Enter Message" ng-model="chatMessage" ng-keypress="keyPressed(event)" size="60"data-emojiable="true"/>
        </span>
    </div>
    <button onclick=" angular.element(document.getElementById('usermsg')).scope().sendMessage(document.getElementById('usermsg').value);">send</button>
</div>
<script type="text/javascript" src="/emoji/lib/js/emoji-init.js"></script>
</div>