<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container custom-container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      Menu
      <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand-custom" href="#">
      <img alt="Brand" src="./img/cards-for-humanity.png" class="img-responsive custom-navbrand">
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" landing>
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
          <a href="/">HOME</a>
        </li>
        <li class="page-scroll">
          <a href="/#!/#about">ABOUT THE GAME</a>
        </li>
        <li class="page-scroll">
          <a href="/#!/#charity">CHARITY</a>
        </li>
        </span>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="body" id="main-bod" ng-controller="IndexController">
  <div id="game-log-button" ng-controller="DashboardController">
    <div class="choose-play-wrapper body game-log-wrapper">
      <div class="row">
        <div class="col-md-4">
          <div ng-controller="GameController">
            <div id="player-container" ng-repeat="player in game.players">
              <div ng-show="isPlayer($index)" id="player-star" class="text-center">
                <img ng-src="{{player.avatar}}"/>
                <div id="player-name">
                  <h4 class="player-name-log">Welcome, {{player.username | uppercase}}</h4>
                </div>
              </div>
          </div>
        </div>
          <div class=" row play-as friend text-center">
            <a href="/play?custom">
            PLAY WITH FRIENDS
            </a>
          </div>
          <div class=" row play-as stranger text-center">
            <a href="/play">
            PLAY WITH STRANGERS
            </a>
          </div>
          <a href="#" onclick="return false" ng-click="viewGameLog()">
            <div class=" row play-as stranger text-center">
              View Game Log
            </div>
          </a>
          <div class=" row play-as friend text-center">
            <a href="/gametour">
              GAME TOUR
            </a>
        </div>
        <div class="table-responsive col-md-8 game-log-table" ng-show="data">
          <table class="table table-bordered game-log" ng-show="showGameLog">
            <thead>
              <tr class="success">
                <th>Game id</th>
                <th>Creator</th>
                <th>Winner</th>
                <th>Rounds</th>
                <th>Completed</th>
                <th>Date</th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(key, value) in data.result">
                <td>{{value.game_id}}</td>
                <td>{{value.creator.username}}</td>
                <td>{{value.winner.username}}</td>
                <td>{{value.rounds}}</td>
                <td>{{value.completed}}</td>
                <td>{{value.date_created | date}}</td>
                <td style="cursor: pointer;" ng-click="singleLog(value._id)" class="text-center">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
