<p>{{friendMessage}}</p>
<div class="row player" ng-repeat="player in game.players" style="background-color:{{colors[player.color]}}">
  <div class="row">
    <div class="col-md-4 col-xs-4 col-lg-4">
      <span ng-show="isPremium($index)">
                <img ng-src="img/king.png" id="king">
            </span>
      <img ng-src="{{player.avatar}}" />
    </div>
    <div class="col-md-8 col-xs-8 col-lg-8 player-name">
      {{player.username | upperFirstLetter}}
      <span class="label label-success">{{player.points}}/{{game.pointLimit}}</span>
      <div class="player-is-player" ng-show="isPlayer($index)" id="player-star">
        <img width=20 height=20 src="../img/11.png" />
      </div>
    </div>
  </div>
  <div class="row player-czar">
    <span ng-show="currentCzar($index)">Czar</span>
    <i ng-show="player.id" ng-if="player.id !== isUser._id" ng-click="addFriend(player.email)" class="fa fa-plus-circle add-friend" aria-hidden="true"></i>
  </div>
</div>
