<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container custom-container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      Menu
      <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand-custom" href="#">
      <img alt="Brand" src="./img/cards-for-humanity.png" class="img-responsive custom-navbrand">
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" landing>
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
          <a href="/">HOME</a>
        </li>
        <li class="page-scroll">
          <a href="/#!/#about">ABOUT THE GAME</a>
        </li>
        <li class="page-scroll">
          <a href="/#!/#charity">CHARITY</a>
        </li>
        </span>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="body" id="main-bod" ng-controller="IndexController">
  <div class="choose-play-wrapper body">
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <div class=" row play-as friend text-center">
          <a href="/play?custom">
          PLAY WITH FRIENDS
          </a>
        </div>
        <div class=" row play-as stranger text-center">
          <a href="/play">
          PLAY WITH STRANGERS
          </a>
        </div>
        <div class=" row play-as friend text-center">
          <a href="/gametour">
            GAME TOUR
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
